# =========================
# Composer
# =========================
/vendor/
composer.lock

# =========================
# Google credentials
# =========================
credentials.json

# =========================
# Environment
# =========================
.env

# =========================
# Cache & temp
# =========================
*.log
*.cache
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Generated images
# =========================
/uploads/
/tmp/
